html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0e9f1 }
  


.carousel-inner img {
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.95rem;
  color: #555;
}

.fw-bold {
  font-size: 1rem;
  color: #000;
}

footer h5 {
  font-weight: 700;
}

footer a {
  transition: color 0.3s ease;
}

footer a:hover {
  color: #0d6efd; 
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .fw-bold {
    font-size: 1rem;
  }

  .navbar-brand strong {
    font-size: 1.2rem;
  }

  .carousel-inner img {
    height: 250px;
  }
}
